.TLE-everything {
  width: 100%;
}
.TLE-flex-row{
  width: 100%;
  font-family: Helvetica;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}
#TLE-tooltip{
  font-family: Georgia, serif;
  font-size: 1.35em;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  width: 29px;
  height: 29px;
  border: 3px solid black;
  padding: 0px 0px 2px;
  box-sizing: border-box;
}
.TLE-container{
  overflow-y: auto;
  height: 50vh;
  margin: 2px;
  border: 1px solid black;
}
#cues-container{
  padding: 2px;
  padding-left: 12px;
}
#stats-container{
  padding: 0px;
}
.TLE-text{
  font-size: 1.06em;
  color: #000;
  line-height: 1.4;
}
.TLE-top-elements{
  margin: 2px;
  font-size: 1.06em;
  padding: 2px 2px 2px 2px;
}
.TLE-button{
  background-color: #f3f3f3;
  color: #000;
  border-style: solid;
  border-color: #222;
  border-width: 1px;
  min-width: 18px;
  width: auto;
  padding: 0px 4px;
  height: 1.5em;
}
#input-video-url-or-id{
  min-width: 27ch;
  height: 1.2em;
}
#input-search-within-text{
  min-width: 10ch;
  width: auto;
  height: 1.2em;
}
.TLE-stats-count {
  display: inline-block;
  width: 40px;
}
.TLE-stats-container{
  width: 100%;
  font-family: Helvetica;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  border-style:solid;
  border-width:1px;
  border-color:#333;
  padding: 2px;
}
.TLE-stats-column{
  width: auto;
  min-width: 240px;
  border-style:solid;
  border-width:1px;
  border-color:#333;
  padding: 10px;
  margin: 2px;
}
#button-show-or-hide-stats{
  width: 70px;
}
iframe {
    overflow: scroll;
}

